<section class="side-menu">
    <div class="side-menu__user-profile">
        <a href="https://github.com/leocosta1" target="_blank" class="side-menu__user-avatar">
            <img src="assets/default-user.png" alt="User Picture" />
        </a>
        <div class="side-menu__user-info">
            <a href="https://github.com/leocosta1" target="_blank"><%= apelido %></a>
            <span><%= nome %></span>
        </div>
        <button class="side-menu__user-button">Switch</button>
    </div>



    <div class="side-menu__footer">
        <div class="side-menu__footer-links">
            <ul class="side-menu__footer-list">
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">About</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Help</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Press</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">API</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Jobs</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Privacy</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Terms</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Locations</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Top Accounts</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Hashtag</a>
                </li>
                <li class="side-menu__footer-item">
                    <a class="side-menu__footer-link" href="#">Language</a>
                </li>
            </ul>
        </div>

        <span class="side-menu__footer-copyright">&copy; 2021 instagram from facebook</span>
    </div>
</section>