<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/login-style.css">
    <title>Instagram - Login</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <div class="heading"></div>
            <% if(error){ %>
                <div class="alert alert-warning" role="alert" style="color: red;">
                    Credenciais incorretas!
                </div>
             <% } %>
            <form class="login-form" action="/login/submit" method="POST">
                <div class="field">
                    <input name="username" id="username" type="name" placeholder="Phone number, username, or email" />
                    <label for="username">Username</label>
                </div>
                <div class="field">
                    <input name="password" id="password" type="password" placeholder="password" />
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="login-button" title="login">Log In</button>
                <div class="separator">
                    <div class="line"></div>
                </div>
            </form>
        </div>
        <div class="box">
            <p>Don't have an account? <a class="signup" href="/register">Sign Up</a></p>
        </div>
    </div>
</body>

</html>