<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style-profile.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <script src="/assets/script.js" defer></script>
    <title>Michelli Brito</title>
</head>

<body class="body">

    <!-- Nav-->
    <%- include('../partials/header'); %>

    <!-- Main-->
    <section>
        <main class="main-container">
            <div class="row">
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-8">

                    <!-- Profile-->
                    <div class="container">
                        <div class="row" style="padding-top: 20px;">
                            <div class="col-12 col-md-3">
                                <img class="img-profile" src="/assets/default-user.png">
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="row" style="padding-top: 20px; padding-bottom: 10px;">
                                    <div class="col-8 col-lg-5">
                                        <h2 class="username">brito_michelli</h2>
                                    </div>
                                    <div class="col-4 col-lg-6"><button type="button"
                                            class="btn btn-outline-secondary button-edit">Editar
                                            perfil</button></div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <p class="profile-datas"><strong>194</strong> publicações</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="profile-datas"><strong>5.300</strong> seguidores</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="profile-datas"><strong>667</strong> seguindo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="name">Michelli Brito</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="profile-desc">Java Architect | Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>

                    <!-- Line-->
                    <hr size="3" width="100%" color="#EEEEEE" style="margin: 0%;">

                    <!-- Nav-Feed-->
                    <ul class="nav nav-tabs nav-feed" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active nav-link-1" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true"><i class="bi bi-grid-3x3"></i> PUBLICAÇÕES</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link nav-link-2" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false"><i class="bi bi-file-person"></i> MARCADOS</a>
                        </li>
                    </ul>

                    <!-- Card-Feed-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row" style="padding-bottom: 25px;">
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 25px;">
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 25px;">
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="/assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="assets/insta-clone.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
                    </div>
                </div>
                <div class="col-0 col-md-2"></div>
            </div>
        </main>
    </section>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>